/* google fonts need to be put here starting with '@import' */
@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&family=Libre+Barcode+39&display=swap');

/*
	css reset - this sets ALL elements to have zero padding and margin, 
	and to display in the more logical border-box style
*/
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #a29158;
}

nav {
	font-family: 'Blaka Ink', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 5rem;
}
nav ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
}
nav ul li {
	transition: transform .2s;
}
nav ul li::before {
	content: '☆';
	margin-right: 1rem;
}
nav ul li:hover {
	transform: translate(9ch, 0)
}
nav ul li a {
	text-decoration: underline dotted red;
}

nav ul li a.current {
	text-decoration: underline dotted blue;
}

nav .logo {
	font-family: "Libre Barcode 39", Wingdings, sans-serif
}


@media screen and (max-width: 768px) {
	nav {
		flex-direction: column;
		font-size: 2rem;
	}
	nav ul {
		flex-direction: row;
		gap: 2rem;
	}
	nav ul li:hover {
	transform: translate(0, -10rem)
}
}